logs/*
.idea
Data_zoo/*
Model_zoo/*
*.pyc
.DS_Store
clip/
*.npy
./you_part/segementation/output
./you_part/segmentation/input
./you_part/segmentation/input/*
you_part/segementation/output/
you_part/segementation/input/
you_part/segementation/input/*
*.mov
*.png
*.mp4
*.MOV
